<div class="fundo corpo-texto">
  <div class="row justify-content-md-center">
    <div class="col-10">
      <h1 class="menu-principal color-primary mb-6">
        <strong>Avaliação de Nivelamento</strong>
      </h1>
      <br/>
        <h2>História de Usuário 001: Lista de Compras</h2>
          <h3>Resumo</h3>
            <p>Criar uma lista de compras onde o item deve persistir em uma listagem em tela.</p>
          <br/>
          <h3>Funcionalidades do projeto</h3>
            <p>Implementar uma lista de compras</p>
            <ol>
              <li>Inclusão de itens, deve conter:
                <ol>
                  <li>Campo texto para inclusão do "Nome do Produto";</li>
                  <li>Botão para "Incluir Produto".</li>
                </ol>
              </li>

              <li>Llsta de itens
                <ol>
                  <li>Nome do Produto;</li>
                  <li>Botão para Excluir Produto;</li>
                </ol>
              </li>
            </ol>

            <ul>
              <li>Ao clicar em "Salvar Alterações" a alteração é realizada e a tela é atualizada em tempo de execução.</li>
              <li>A opção de concluir ou não concluir a compra deve ser visível na listagem do produto </li>
              <li>Ao clicar em "Excluir Produto" o Produto é excluido da lista e a tela é atualizada em tempo de execução.</li>
            </ul>
            <ul>
              <li>Bonus: Ao clicar em "Editar Produto" o Produto da lista fica disponível para edição como o campo texto "Nome do Produto" onde o valor "Nome do Produto" pode ser atualizado.</li>
              <li>Bonus: Ao clicar em "Cancelar Alterações" a alteração é cancelada, o "Nome do Produto" retorna para o valor original e a tela é atualizada em tempo de execução.</li>
            </ul>

          <h3>Critérios de Aceitação</h3>
            <ul>
              <li>Seguir o padrão e estrutura do projeto, respeitando a finalidade dos componentes (front-end e back-end)</li>
              <li>Todas as funções, métodos, variáveis e etc devem estar designadas com seus respectivos "tipos"</li>
              <li>Se for formatar, utilizar CSS ou SASS para formatação dos elementos;</li>
              <li>Ao programar não se esqueça de deixar o seu código limpo, separe as responsabilidades em funções;</li>
              <li>Não se esqueça: O código pronto (front-end e back-end) deve ser compilado, apto para ser clonado e executado para avaliação;</li>
              <li>Realize os commits separadamente conforme o desenvolvimento de cada funcionaloidade.</li>
              <li>Fique avontade para utilizar bibliotecas (externas) de componentes Angular</li>
            </ul>
            <ul>
              <li>Bonus: O botão "Editar Produto" fica habilitado para os itens da lista que não estiverem concluídos;</li>
              <li>Bonus: Código com cobertura de teste funcionando será avaliado com muito mais satisfação :)</li>
            </ul>
          <br/>
          <h3>Cenários de Teste</h3>
            <h4>Front-end</h4>
            <ol>
              <li>O projeto deve executar após o build (os testes e o lint devem ser executado com sucesso também);</li>
              <li>Todos os campos exigidos devem ser apresentados em tela;</li>
              <li>Botão incluir habilitando ao digitar o nome do Produto;</li>
              <li>Ao incluir, o Produto deve ser adicionado à lista e apresentado em tela atualizada em tempo de execução;</li>
              <li>Ao excluir, o Produto deve ser excluido da lista em tela atualizada em tempo de execução;</li>
              <li>A lista deve conter os botões corretos;</li>
              <li>Cada produto da lista deve ser visualmente diferente conforme a sua situação (o formato ficará ao seu critério)</li>
            </ol>
            <ul>
              <li>Bonus: Ao Editar, o Produto "nome do Produto" deve ser habilitado na lista e apresentado os botões corretos para a funcionalidade;</li>
              <li>Bonus: Ao salvar a Edição, o nome do Produto deve ter o seu valor atualizado;</li>
              <li>Bonus: Ao cancelar a Edição, o nome do Produto deve retornar ao valor original;</li>
            </ul>

            <h4>Back-end</h4>
            <ol>
              <li>O projeto deve executar após o build;</li>
              <li>O Serviço para Incluir Produto deve ser implementada;</li>
              <li>O Serviço para Excluir Produto deve ser implementada.</li>
            </ol>
            <ul>
              <li>Bonus: O Serviço para Editar Produto deve ser implementada;</li>
            </ul>
          <br/>
          <h3>Técnicas e tecnologias utilizadas</h3>
            <h4>Skill's Desejáveis</h4>
            <ul>
              <li>Git **</li>
              <li>Scrum e Kanban **</li>
              <li>CLI **</li>
            </ul>

            <h4>Front-end</h4>
            <ul>
              <li>HTML</li>
              <li>CSS</li>
              <li>Bootstrap **</li>
              <li>JavaScript</li>
              <li>Angular</li>
              <li>NPM **</li>
              <li>Jasmine - Teste Unitário **</li>
              <li>TypeScript **</li>
            </ul>

            <h4>Back-end</h4>
            <ul>
              <li>Java</li>
              <li>Spring Boot ou Quarkus</li>
              <li>JUnit, Mokito - Teste de Integração **</li>
              <li>Maven **</li>
            </ul>

            <p>** Noções básicas.</p>
    </div>
  </div>
</div>