.conteudo{
    position: relative;
    margin-top: 130px;   
}
.container {
    padding-right: 40px;
    padding-left: 40px;
}
.fundo{
    background: rgb(2,0,36);
}
.full{
    height: 100vh;
}
.footer{
    align-items: center;
    width: 99%;
    height: 137px;
    position: relative;
    bottom: 0;
}